
 .navbar {
     background-color: white;
 }
 .container-fluid {
    height: 41px;

}
 .container-fluid .navbar-brand button {
     background-color:#0aad0a;
     width: 182px;
     height: 41px;
     font-size: 14px;
     font-weight: 600;
     line-height: 22px;
     text-align: right;
     padding-right: 20px;
     color: white;
 }

 .container-fluid .navbar-brand i {
     position: relative;
     right: 160px;
     top: 2px;
     color: white;
 }

 .container-fluid ul {
     font-size: 15px;
     font-weight: 500;
     line-height: 22px;

 }

 .container-fluid ul .nav-item>a {
     color: rgb(44, 42, 42);
 }
 .container-fluid .navbar-brand button:hover {
    background-color: #099209;
 }
 .container-fluid ul li>a:hover{
    color: #099209;
 }