.carousel .carousel-inner .carousel-item {
    position: relative;

}

.carousel .carousel-inner .carousel-item img {
    height: 500px;
    border-radius: 10px;
    width: 100%;
}

.carousel .carousel-inner .carousel-item .carousel-item-content {
    position: absolute;
    top: 111px;
    left: 100px;
    width: min(470px, 90%);
    height: auto;

}

.carousel .carousel-inner .carousel-item .carousel-item-content p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    Color: rgb(92, 108, 117)
}

@media screen and (max-width:768px) {
    .carousel .carousel-inner .carousel-item .carousel-item-content {
        width: 400px;
    }
}
@media screen and (max-width:562px) {
    .carousel .carousel-inner .carousel-item .carousel-item-content {
        top: 51px;
        left: 50px;
    }

    .carousel .carousel-inner .carousel-item img {
        height: 400px;
    }

    .carousel .carousel-inner .carousel-item .carousel-item-content p {
        font-size: 16px;
        overflow: wrap;
        padding-right: 50px;
    }

}
@media screen and (max-width:450px){
    .carousel .carousel-inner .carousel-item .carousel-item-content {
        width: 300px;
    }

}