.buybutton {
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin: 25px;
}

.buybutton i {
    position: relative;
    top: 1px;
    left: 24px;
    color: white;
    font-size: 17px;
}

.buybutton button {
    height: 47px;
    width: 140px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: right;
    padding:10px;
}