.buybutton {
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin: 25px;
}

.buybutton i {
  color: white;
  font-size: 17px;
}

.buybutton button {
  height: 47px;
  width: 140px;
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
  text-align: right;
  padding: 10px;
}
@media screen and (max-width:768px) {
  .buybutton button{
    width: 120px;
    height: 45px;
    font-size: 14px;
  }
  
.buybutton i{
  font-size: 15px;
}
}